body {
    font-family: Arial, sans-serif;
    background-color: #7c19dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #7c19dd 0%, #7c19dd 200px, white 200px, white 100%);
}

.review-container {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.stars {
    color: purple;
    font-size: 25px;
}

.star {
    cursor: pointer;
}

.feedback-text {
    margin-top: 20px;
    color: #333;
}

textarea {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    resize: none;
    font-family: Gilroy, Arial, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
